* {
	margin: 0px; padding: 0px;
}
body {
	background: rgb(246, 246, 246); text-align: left; font-family: "Microsoft YaHei", "微软雅黑";
}
table {
	border: currentColor; border-image: none; border-collapse: collapse; border-spacing: 0px;
}
td {
	line-height: 180%; font-size: 14px;
}
li {
	list-style: none;
}
a:link {
	color: rgb(0, 107, 179); font-family: 宋体; font-size: 14px; text-decoration: none;
}
a:visited {
	color: rgb(0, 107, 179); font-size: 14px; text-decoration: none;
}
a:hover {
	color: rgb(255, 0, 0); font-size: 14px; text-decoration: underline;
}
a:active {
	color: rgb(0, 107, 179); font-size: 14px; text-decoration: none;
}
a img {
	border: currentColor; border-image: none;
}
.wrap {
	background: rgb(246, 246, 246); margin: 0px auto; width: 100%; text-align: left; padding-top: 50px; padding-bottom: 20px; position: relative; min-width: 1000px;
}
.noShow {
	display: none;
}
.clearAll {
	clear: both;
}
#copyright {
	background: rgb(246, 246, 246); padding: 10px 0px; width: 100%; text-align: center; color: rgb(0, 0, 0); line-height: 180%; clear: both; font-size: 12px; border-top-color: rgb(139, 139, 139); border-top-width: 5px; border-top-style: solid; min-width: 1000px;
}
.effectBox1 {
	margin: 0px auto; width: 1060px; padding-left: 60px; position: relative;
}
.effectBox1 .theScrollTank {
	width: 1000px; height: 520px; overflow: hidden; margin-left: 0px; position: relative;
}
.effectBox1 .theTabList {
	width: 20000px;
}
.effectBox1 .theTabList > li {
	float: left;
}
.effectBox1 .theTabList .itemList {
	margin: 0px; width: 1000px;
}
.effectBox1 .theTabList .itemList li {
	width: 1000px; height: 563px; line-height: 170%; float: left; position: relative;
}
.effectBox1 .theTabList .itemList li a {
	font-family: "Microsoft YaHei", "微软雅黑";
}
.effectBox1 .theTabList .itemList li a.theTitle {
	background: 0px 0px rgba(0, 150, 240, 0.5) !important; padding: 6px 20px; left: 0px; width: 960px; bottom: 0px; color: rgb(255, 255, 255); line-height: 170%; font-size: 20px; text-decoration: none; display: none; position: absolute;
}
.effectBox1 .theTabList .itemList li a.theTitle .theIntro {
	color: rgb(255, 255, 255); line-height: 150%; padding-bottom: 8px; font-size: 14px;
}
.effectBox1 .transBgd {
	background: 0px 0px rgba(0, 150, 240, 0.5) !important;
}
.effectBox1 a.btnTabPrev {
	background: 0px 0px rgba(0, 150, 240, 0.5) !important; top: 180px; width: 60px; height: 145px; text-align: center; color: rgb(255, 255, 255); line-height: 145px; overflow: hidden; font-family: 黑体; font-size: 48px; font-weight: bold; display: block; position: absolute; z-index: 1000;
}
.effectBox1 a.btnTabNext {
	background: 0px 0px rgba(0, 150, 240, 0.5) !important; top: 180px; width: 60px; height: 145px; text-align: center; color: rgb(255, 255, 255); line-height: 145px; overflow: hidden; font-family: 黑体; font-size: 48px; font-weight: bold; display: block; position: absolute; z-index: 1000;
}
.effectBox1 a.btnTabPrev:hover {
	text-decoration: none;
}
.effectBox1 a.btnTabNext:hover {
	text-decoration: none;
}
.effectBox1 a.btnTabNext {
	right: 0px;
}
.effectBox1 a.btnTabPrev {
	left: 0px;
}
.effectBox1 .dotNav {
	margin-left: 400px;
}
.effectBox1 .dotNav li {
	background: rgb(204, 204, 204); width: 10px; height: 10px; margin-right: 5px; float: left; display: inline; cursor: pointer;
}
.effectBox1 .dotNav li.curDot {
	background: rgb(255, 0, 0);
}
