header .header_warp { width:1000px; height:300px !important; }
header .top { width:1000px; }
header .header_warp .logo1{ float: left; padding-top: 110px; }
header .header_warp .right{ width: 560px; height: 80px !important;}
header .header_warp .logo2{ padding-top: 10px; height: 80px !important; }
header .header_warp .logo3{ padding-top: 10px; height: 80px !important;}

.main{ width: 1000px; margin:0 auto; }

.bk_02{ margin: 20px 10px; }


/**焦点图片*/
.banner_0{ height: 325px;  position:relative; z-index:100; }
.banner_0_top{ height: 325px !important;}
.banner_0_bottom span{ background:url(n_html55.gif) left top no-repeat; width:12px; height:12px; display:inline-block; cursor:pointer;  margin:0 2px;}
.banner_0_bottom span.on{ background:url(n_html55.gif) right top no-repeat;}


.bk_02 .yw dl { position: relative; height: 325px!important;}
.bk_02 .yw dl a.more{ color: #d4934c; }

.banner_link1 { float: left; margin-left: 10px; margin-top: 10px; height: 139px !important; }
.banner_link2 { float: right; margin-right: 10px; margin-top: 10px; height: 139px!important; }


.center{ height: 500px !important; margin-top: 30px;}
.widget1{ margin-left: 20px; margin-right: 10px; }

.bk_01 .tit2{ height: 33px !important; }
.bk_01 .tit2 .channltext{ width: 352px; height: 117px !important; background: url(xstl_chnllogo_bg2.png) no-repeat left top; text-align: center; }

/**版权信息*/
.in_footer{ height: 70px;}
