BODY {
	MARGIN: 0px; BACKGROUND: #fff
}
TABLE {
	FONT-FAMILY: 宋体,verdana; COLOR: #000; FONT-SIZE: 12px
}
INPUT {
	FONT-FAMILY: 宋体,verdana; COLOR: #000; FONT-SIZE: 12px
}
SELECT {
	FONT-FAMILY: 宋体,verdana; COLOR: #000; FONT-SIZE: 12px
}
TEXTAREA {
	FONT-FAMILY: 宋体,verdana; COLOR: #000; FONT-SIZE: 12px
}
DIV {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	COLOR: #fff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
.lk00u A {
	TEXT-DECORATION: underline
}
.lk00u A:hover {
	TEXT-DECORATION: none
}
.lkff {
	COLOR: #fff
}
.lkff A {
	COLOR: #fff
}
.lkff A:hover {
	COLOR: #fff
}
.lk29 {
	COLOR: #293b56
}
.lk29 A {
	COLOR: #293b56
}
.lk29 A:hover {
	COLOR: #f00
}
.lkd6 {
	COLOR: #d65d5d
}
.lkd6 A {
	COLOR: #d65d5d
}
.lkd6 A:hover {
	COLOR: #fff
}
.alce {
	TEXT-ALIGN: center
}
.alri {
	TEXT-ALIGN: right
}
.alto {
	VERTICAL-ALIGN: top
}
.altb {
	VERTICAL-ALIGN: bottom
}
.txbd {
	FONT-WEIGHT: bold
}
.txid {
	TEXT-INDENT: 2em
}
.lh27 {
	LINE-HEIGHT: 27px
}
.lh20 {
	LINE-HEIGHT: 20px
}
.lh24 {
	LINE-HEIGHT: 24px
}
.Sdnv TD {
	TEXT-ALIGN: center; LINE-HEIGHT: 31px; COLOR: #fff
}
.Sdnv A {
	COLOR: #fff
}
.Sdnv A:hover {
	COLOR: #fff
}
.Sdbd {
	BORDER-BOTTOM: #bababa 1px solid; BORDER-LEFT: #bababa 1px solid; BORDER-TOP: #bababa 1px solid; BORDER-RIGHT: #bababa 1px solid
}
.Sdbd1 {
	BORDER-BOTTOM: #b7b7b7 1px solid; BORDER-LEFT: #b7b7b7 1px solid; BACKGROUND: #f6f6f6; BORDER-TOP: #b7b7b7 1px solid; BORDER-RIGHT: #b7b7b7 1px solid
}
.Sdbd2 IMG {
	BORDER-BOTTOM: 2px; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: 2px
}
.Sdbd3 IMG {
	BORDER-BOTTOM: #000 1px solid; BORDER-LEFT: #000 1px solid; BORDER-TOP: #000 1px solid; BORDER-RIGHT: #000 1px solid
}
.Sdmg {
	MARGIN: 5px auto 0px
}
.Sdmg1 {
	MARGIN: 7px auto 0px
}
.Sdmg2 {
	MARGIN: 12px auto 0px
}
.Sdmg3 {
	MARGIN: 10px auto 0px
}
.Sdmg4 {
	MARGIN-TOP: 16px
}
.Sdmg5 {
	MARGIN: 4px auto 16px
}
.Sdpc {
	LINE-HEIGHT: 5px; HEIGHT: 5px
}
.Sdht {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; BACKGROUND: #b7b7b7; PADDING-TOP: 1px
}
.Sdht1 {
	LINE-HEIGHT: 19px; PADDING-LEFT: 9px; FONT-WEIGHT: bold
}
.Sdht2 {
	LINE-HEIGHT: 20px; PADDING-LEFT: 150px; FONT-FAMILY: Arial Black; FONT-SIZE: 10px
}
.Sdht2 DIV {
	TEXT-ALIGN: center; WIDTH: 24px; FLOAT: left; HEIGHT: 20px; CURSOR: hand; MARGIN-RIGHT: 4px
}
.Sdht3 {
	FILTER: progid:DXImageTransform.Microsoft.Fade ( duration=0.5,overlap=1.0 )
}
.Sdhf1 {
	BACKGROUND: url(sdf1.gif) no-repeat; COLOR: #fff
}
.Sdhf2 {
	BACKGROUND: url(sdf2.gif) no-repeat; COLOR: #000
}
.dis {
	DISPLAY: block
}
.undis {
	DISPLAY: none
}
.Sdtp {
	LINE-HEIGHT: 36px; FONT-FAMILY: 黑体; FONT-SIZE: 18px
}
.Sdtp1 {
	LINE-HEIGHT: 20px; TEXT-INDENT: 2em; VERTICAL-ALIGN: top
}
.Sdtp2 {
	TEXT-ALIGN: right; LINE-HEIGHT: 31px; PADDING-RIGHT: 9px
}
.Sdtt {
	LINE-HEIGHT: 33px; PADDING-LEFT: 12px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtt1 TD {
	LINE-HEIGHT: 25px
}
.Sdtt1 .dt1 {
	PADDING-LEFT: 12px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtt2 {
	BORDER-BOTTOM: #293b56 2px solid; BACKGROUND: url(sda3.gif) no-repeat 0px 6px
}
.Sdtt2 TD {
	LINE-HEIGHT: 25px; FONT-WEIGHT: bold
}
.Sdtt2 .dt2 {
	PADDING-LEFT: 16px; FONT-SIZE: 14px
}
.Sdtt3 {
	LINE-HEIGHT: 31px; PADDING-LEFT: 12px; BACKGROUND: #f6f6f6; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtt4 {
	BORDER-BOTTOM: #293b56 2px solid
}
.Sdtt4 TD {
	LINE-HEIGHT: 30px; FONT-WEIGHT: bold
}
.Sdtt4 .dt3 {
	PADDING-LEFT: 5px; FONT-SIZE: 14px
}
.Sdtt5 {
	LINE-HEIGHT: 26px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtx {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; PADDING-LEFT: 11px; PADDING-RIGHT: 8px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.Sdtx1 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.Sdtx2 {
	LINE-HEIGHT: 31px; PADDING-LEFT: 12px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtx3 {
	LINE-HEIGHT: 20px; TEXT-INDENT: 2em; PADDING-LEFT: 25px; COLOR: #293b56
}
.Sdtx4 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 22px; PADDING-LEFT: 7px; PADDING-RIGHT: 10px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.Sdtx5 {
	LINE-HEIGHT: 25px; PADDING-LEFT: 12px; FONT-WEIGHT: bold
}
.Sdlx {
	LINE-HEIGHT: 40px; PADDING-LEFT: 15px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdlx1 {
	LINE-HEIGHT: 40px; PADDING-LEFT: 15px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtj {
	LINE-HEIGHT: 27px; PADDING-LEFT: 18px; BACKGROUND: url(sda4.gif) no-repeat 7px 9px
}
.Sdtj1 {
	LINE-HEIGHT: 23px; PADDING-LEFT: 7px; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.Sdtj2 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 20px; TEXT-INDENT: 2em; PADDING-LEFT: 7px; PADDING-RIGHT: 10px; COLOR: #293b56; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.Sdph {
	LINE-HEIGHT: 29px; BACKGROUND: #f6f6f6; FONT-WEIGHT: bold; PADDING-TOP: 2px
}
.Sdph1 {
	LINE-HEIGHT: 26px; PADDING-LEFT: 30px; BACKGROUND-REPEAT: no-repeat
}
.Sdtd TD {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; VERTICAL-ALIGN: bottom
}
.Sdnw {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FONT-SIZE: 14px; VERTICAL-ALIGN: top; PADDING-TOP: 0px
}
.Sdnw1 {
	WIDTH: 268px; FLOAT: left; CLEAR: both
}
.Sdnw2 {
	TEXT-ALIGN: right; WIDTH: 90px; FLOAT: left; FONT-SIZE: 12px
}
.Sdmk {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 24px; PADDING-LEFT: 7px; PADDING-RIGHT: 6px; VERTICAL-ALIGN: top; PADDING-TOP: 8px
}
.Sdmk1 {
	PADDING-LEFT: 15px; BACKGROUND: url(sda4.gif) no-repeat 0px 7px
}
.Sdmk2 {
	PADDING-LEFT: 15px
}
.Sdcp {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 22px; PADDING-RIGHT: 6px; PADDING-TOP: 0px
}
.Sdcp1 {
	LINE-HEIGHT: 18px; FONT-WEIGHT: bold
}
.Sdcp1 DIV {
	FONT-SIZE: 14px
}
.Sdth {
	LINE-HEIGHT: 26px; FONT-SIZE: 14px; VERTICAL-ALIGN: top
}
.Sdth SPAN {
	FONT-SIZE: 12px
}
.Sdth1 {
	TEXT-ALIGN: right; VERTICAL-ALIGN: bottom; BORDER-TOP: #bdbdbd 1px solid
}
