*{
	padding:0;
	margin:0;
	border:0;
}
img{
	border:0;
}
html,body{
	width:auto;
	height:auto;
	margin:0 auto;
}
#main{
	width:70%;
	height:auto;
	margin:0 auto;
	overflow:hidden;
}
#header{
	width:100%;
	height:185px;
	margin-bottom: 13px;
}
#header img{
	width:100%;
	height:185px;
}
#mid{
	width:100%;
	height:240px;
	overflow: hidden;
	text-overflow:ellipsis;
	 white-space:nowrap;
}
#mid .box{
	width:30.6%;
	height:238px;
	float:left;
	border:1px solid #cccccc;
	overflow:hidden;
}
.title{
	width:100%;
	height:27px;
}
/*.title .txt{
	margin:6px 0 0 16px;
	font-family:"黑体";
	font-weight:600;
	color:#cf181a;
}*/
.title .world{
	width:121px;
	height:26px;
	margin:1px 0 0 1px;
	float: left;
	display:inline;
	background:url(../images/small.png) no-repeat 3px 4px #c30203;
}
.world p{
	margin-left:28px;
	font-family:"黑体";
	font-weight:600;
	font-size:16px;
	color:#f7c200;
	line-height:24px;
}
#mid .box .line{
	width:100%;
	border-bottom:1px solid #c40403;
	float: left; 
}
#mid .box .detail{
	width:100%;
	height:185px;
}
#mid .box .detail ul li{
	width:292px;
	height:15px;
	line-height:15px;
	list-style:none;
	margin:8px 0;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
#mid .box .detail ul li a{
	width:292px;
	height:12px;
	font-weight:600;
	font-size:12px;
	color:#000000;
	text-decoration:none;
}
#mid .box .detail ul li a span{
	margin:0 8px;
}
#picture{
	width:342px;
	height:240px;
	float:left;
	margin:0 7px;
	display:inline;
	overflow:hidden;
	position:relative;
}

#list {
	width:2160px;
	height:240px;
	position: absolute; 
	z-index: 1;
}
#list img {
	float: left;
	width:342px;
	height:240px;
}
#buttons{
	position: absolute;
	height: 20px;
	width: 150px;
	z-index: 2;
	bottom: 5px;
	left: 165px;
}
#buttons span { 
	cursor: pointer; 
	float: left; 
	width: 20px; 
	height: 20px;
	background: #000;
	color:#fff;
	margin-right: 15px;
	text-align:center;
	/*透明*/
	/*filter:alpha(opacity=50);  */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity:0.5;  
    -khtml-opacity: 0.5;  
    opacity: 0.5;
    zoom:1;
	}
#buttons .on {  
	background: orangered;
}
#footer{
	margin-top:22px;
	height:187px;
	border:1px solid #cccccc;
	margin-bottom: 10px;
}
#footer .title{
	width:958px;
	height:27px;
	overflow:hidden;
}
#footer .title .world{
	height:27px;
}
#footer .title .world span{
	margin:5px 0 0 11px;
	font-size:19px;
	color:#d0191d;
	font-weight:600;
	font-family:"宋体";
}
#footer .title .line{
	width:958px;
	border-bottom:2px solid #c40403;
	padding-top:25px; 

}
#footer .detail{
	width:100%;
	height:126px;
	overflow:hidden;
	margin-top:24px;
}
#footer .detail ul{
	margin-left:31px;
}
#footer .detail ul li{
	width:21.6%;
	height:126px;
	float:left;
	list-style:none;
	margin-right:30px;
}
#footer .detail ul li img{
	width:100%;
	height:126px;
}
#low p{
	border-top: 1px solid #c40403;
	padding-top: 10px;
	text-align: center; 
	margin: 30px; 
	font-size: 14px;
	 color: #222; 
	 font-family:"黑体";}